<div class="site-title-wrapper">
    <h1 class="site-title"><a title="{{ site.title }}" href="{{ site.url }}/">{{ site.title }}</a></h1>
    <a data-no-instant class="button-square" href="{{ site.url }}/feed.xml"><i class="fa fa-rss"></i></a>
</div>

<ul class="site-nav">
    {% for link in site.links %}
        <li class="site-nav-item">
            {% assign first = site.posts.first %}
            <a title="{{ link.title }}" href="{{ site.url }}{% if link.title == "Blog" %}{{ first.url }}{% else %}{{ link.url }}{% endif %}">{{ link.title }}</a>
        </li>
    {% endfor %}
</ul>