/*

    Name:       Base16 Mocha Dark
    Author:     Chris Kempson (http://chriskempson.com)

    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)

*/
pre { background: #3B3228 }
.hll { background-color: #645240 }
 { background: #3B3228; color: #f5eeeb }
.c { color: #7e705a } /* Comment */
.err { color: #cb6077 } /* Error */
.k { color: #a89bb9 } /* Keyword */
.l { color: #d28b71 } /* Literal */
.n { color: #f5eeeb } /* Name */
.o { color: #7bbda4 } /* Operator */
.p { color: #f5eeeb } /* Punctuation */
.cm { color: #7e705a } /* Comment.Multiline */
.cp { color: #7e705a } /* Comment.Preproc */
.c1 { color: #7e705a } /* Comment.Single */
.cs { color: #7e705a } /* Comment.Special */
.gd { color: #cb6077 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gh { color: #f5eeeb; font-weight: bold } /* Generic.Heading */
.gi { color: #beb55b } /* Generic.Inserted */
.gp { color: #7e705a; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #7bbda4; font-weight: bold } /* Generic.Subheading */
.kc { color: #a89bb9 } /* Keyword.Constant */
.kd { color: #a89bb9 } /* Keyword.Declaration */
.kn { color: #7bbda4 } /* Keyword.Namespace */
.kp { color: #a89bb9 } /* Keyword.Pseudo */
.kr { color: #a89bb9 } /* Keyword.Reserved */
.kt { color: #f4bc87 } /* Keyword.Type */
.ld { color: #beb55b } /* Literal.Date */
.m { color: #d28b71 } /* Literal.Number */
.s { color: #beb55b } /* Literal.String */
.na { color: #8ab3b5 } /* Name.Attribute */
.nb { color: #f5eeeb } /* Name.Builtin */
.nc { color: #f4bc87 } /* Name.Class */
.no { color: #cb6077 } /* Name.Constant */
.nd { color: #7bbda4 } /* Name.Decorator */
.ni { color: #f5eeeb } /* Name.Entity */
.ne { color: #cb6077 } /* Name.Exception */
.nf { color: #8ab3b5 } /* Name.Function */
.nl { color: #f5eeeb } /* Name.Label */
.nn { color: #f4bc87 } /* Name.Namespace */
.nx { color: #8ab3b5 } /* Name.Other */
.py { color: #f5eeeb } /* Name.Property */
.nt { color: #7bbda4 } /* Name.Tag */
.nv { color: #cb6077 } /* Name.Variable */
.ow { color: #7bbda4 } /* Operator.Word */
.w { color: #f5eeeb } /* Text.Whitespace */
.mf { color: #d28b71 } /* Literal.Number.Float */
.mh { color: #d28b71 } /* Literal.Number.Hex */
.mi { color: #d28b71 } /* Literal.Number.Integer */
.mo { color: #d28b71 } /* Literal.Number.Oct */
.sb { color: #beb55b } /* Literal.String.Backtick */
.sc { color: #f5eeeb } /* Literal.String.Char */
.sd { color: #7e705a } /* Literal.String.Doc */
.s2 { color: #beb55b } /* Literal.String.Double */
.se { color: #d28b71 } /* Literal.String.Escape */
.sh { color: #beb55b } /* Literal.String.Heredoc */
.si { color: #d28b71 } /* Literal.String.Interpol */
.sx { color: #beb55b } /* Literal.String.Other */
.sr { color: #beb55b } /* Literal.String.Regex */
.s1 { color: #beb55b } /* Literal.String.Single */
.ss { color: #beb55b } /* Literal.String.Symbol */
.bp { color: #f5eeeb } /* Name.Builtin.Pseudo */
.vc { color: #cb6077 } /* Name.Variable.Class */
.vg { color: #cb6077 } /* Name.Variable.Global */
.vi { color: #cb6077 } /* Name.Variable.Instance */
.il { color: #d28b71 } /* Literal.Number.Integer.Long */