---
layout: default
---

<div class="container">
    <article class="post-container">
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>

            <p class="post-date"><time>Difficulty: {{ page.difficulty }}</time></p>
        </header>

        <div class="post-content clearfix">
            <h1>Problem</h1>
            {% contentblock problem %}

            <h1>Example</h1>
            {% contentblock example %}

            <h1>Template</h1>
            {% contentblock template %}

            <a href="#" class='hint-toggle'><h1>Hint?</h1></a>
            <div class='hint' style='display: none;'>
                {% contentblock hint %}
            </div>

            <!--a href="#" class='solution-toggle'><h1>Solution</h1></a>
            <div class='solution' style='display: none;'>
                {% contentblock solution %}
            </div-->
        </div>

        <footer class="post-footer clearfix">
            {% if page.categories %}
                <p class="post-tags"><span>Categories:</span> {{ page.categories | array_to_sentence_string }} </p>
            {% endif %}
        </footer>
    </article>
</div>


